// Colors
:root {
    --surva-grey: #888;
    --blue-cello: #405365;
    --blue-dodger: #39f;
    --blue-bunting: #293847;
    --orange-sunglow: #ffcd38;
    --tomato: #d12420;
    --white-smoke: #eee;
    --white: #ffffff;
    --slate-grey: #63666a;
    --silver: #e0e0e1;
    --silver-two: #eff0f0;
    --black: #000000;
    --blue-sky: #00b5ff;
    --blue-pacific: #088dcd;
    --facebook-color: #435f9f;
    --twitter-color: #00aaf0;
    --instagram-color: #bc2a8d;
  }
  
  //Letters Spacing
  $store-letter-spacing: 0.5rem;